.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
}

.section2-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    border-bottom: 0.025em solid gray;
}

.footer img {
  max-width: 180px;
}

.more {
  transition: all 1s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 3rem;
  gap: 3rem;  
}

.more--itens{
    color: gray;
    text-decoration: none;

:hover{
    color:black ;
}
    
}

.section-media-social{
    padding: 1rem;
}

.icon-facebook{
  background: linear-gradient(180deg, rgb(7, 37, 77) 0%, rgba(59,89,152,1) 35%, rgba(0,212,255,1) 100%);  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:25px ;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.icon-facebook:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 11px rgba(18, 122, 234, 0.586);
}

.icon-whatsapp{
  background: linear-gradient(180deg, rgba(5,147,84,1) 9%, rgba(37,211,96,1) 54%, rgba(0,255,134,1) 99%);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:25px ;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
}

.icon-whatsapp:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 11px rgba(7, 219, 106, 0.586);
}

.icon-twitter{
  background: linear-gradient(180deg, rgba(6,94,128,1) 9%, rgba(4,166,228,1) 54%, rgba(159,224,249,1) 99%);  
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:25px ;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
}

.icon-twitter:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 11px rgba(11, 132, 192, 0.59);
}

.icon-instagram{
  background: linear-gradient(180deg, rgba(204,18,81,1) 9%, rgba(225,48,108,1) 54%, rgba(231,144,174,1) 99%);  
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:25px ;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: white;
}

.icon-instagram:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 11px rgb(204,18,81, 0.59);
}